In [ ]:
#DATAFRAME CREATION AND MANIPULATION
#EXERCISE 2

In [2]:
#8)Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.
import pandas as pd
data = {'Name':['Satish','Arun','Sirish', 'Preeti','Yashwanth','Venkat','Akhil','Huma','Lissie','Ravi'],
        'Gender':['M','M','M','F','M','M','M','F','F','M'],
        'Marks1':[34,45,23,49,37,41,30,19,48,25],
        'Marks2':[19,48,33,34,21,27,49,21,21,10],
        'Marks3':[50,17,43,34,43,24,37,27,19,49]
       }

table = pd.DataFrame(data)
print(table)

        Name Gender  Marks1  Marks2  Marks3
0     Satish      M      34      19      50
1       Arun      M      45      48      17
2     Sirish      M      23      33      43
3     Preeti      F      49      34      34
4  Yashwanth      M      37      21      43
5     Venkat      M      41      27      24
6      Akhil      M      30      49      37
7       Huma      F      19      21      27
8     Lissie      F      48      21      19
9       Ravi      M      25      10      49

In [3]:
#9)Create a new column with total marks 
table['Total Marks'] = table['Marks1'] + table['Marks2'] + table['Marks3']
print(table)

        Name Gender  Marks1  Marks2  Marks3  Total Marks
0     Satish      M      34      19      50          103
1       Arun      M      45      48      17          110
2     Sirish      M      23      33      43           99
3     Preeti      F      49      34      34          117
4  Yashwanth      M      37      21      43          101
5     Venkat      M      41      27      24           92
6      Akhil      M      30      49      37          116
7       Huma      F      19      21      27           67
8     Lissie      F      48      21      19           88
9       Ravi      M      25      10      49           84

In [13]:
#10)lowest marks in marks1
table['Marks1'].min()

19

In [14]:
#11)Highest marks in marks2
table['Marks2'].max()

49

In [19]:
#12)Average marks in marks 3
table['Marks3'].mean()

34.3

In [21]:
#12)a)Student name with the highest average
table['average'] = (table['Marks1'] + table['Marks2'] + table['Marks3'])/3
max = table["average"].max()
count = 0
for i in table["average"]:
    if(i == max):
        print(str(table.loc[count].at["Name"]) + " is the student with the highest average of "  + str(max))
        break
    else:
        count = count + 1

Preeti is the student with the highest average of 39.0

In [60]:
#13)To find the number of students who failed in marks2(<20)
table[table["Marks2"]<20]["Name"].count()

2